
/* Estilo General */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Encabezado */
  header {
    background-image: url(../img/fondo.jpg);
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Servicios */
  .service-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #e8f0ff;
  }
  
  .service-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .service-card p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Trayectoria */
  section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  section ul li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
  }
  